* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-wrap: break-word;
}

body {
	background: url("../img/my-portfolio-main-background.jpg") no-repeat fixed center center / cover transparent;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear:after {
	display: block;
	content: "";
	clear: both;
}

/***fonts***/

h1, h2, h3, h4, #rowSkills li {
	font-family: 'Signika', sans-serif;
	line-height: 1.2em;
}

h4 {
	margin-top: 20px;
}

nav *, p, a, span, form * {
	font-family: 'Lato', sans-serif;
}

/***wrappers***/
.mainWrapper {
	width: 100%;
	margin: 0 auto;
}

/***header***/
#contactDetails, 
#socialIcons {
    display: none;
}

#socialIcons img {
    width: 30px;
    margin-left: 4px;
}

/***navigation***/
.nav-button {
    color: #fff;
    font-size: 25px;
    padding: 3px 10px 5px;
    position: fixed;
    z-index: 999;
    background-color: rgba(0,55,75,.75);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

#mainNav {
    position: fixed;
    left: 0;
    z-index: 999;
    top: 0;
    transition: 0.5s;
    background-color: #3490cb;
	overflow: hidden;
}

.open-nav {
	height: 280px;
	width: 280px;
}

.close-nav {
	height: 0;
	width: 0;
}

#nav-links {
    padding: 20px 50px;
    color: #fff;
}

#mainNav li {
    list-style: none;
    padding: 10px;
    white-space: nowrap;
	width: 200px;
}

#mainNav li:hover {
	cursor: pointer;
}

#nav-items {
    padding: 0 40px;
}

#contact-icons {
    text-align: center;
	width: 200px;
}

#contact-icons  a {
	font-size: 2.5em;
    color: #00374b;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav li:hover,
nav a:hover {
	text-decoration: underline;	
}

#socialIcons a:hover,
.socialMedias a:hover {
    opacity: 0.75;
}

/***rowBanner***/
#rowBanner {
    text-align: center;
}

#rowBanner h1 {
    color: #85e1ff;
	margin-top: 20px;
}

#rowBanner .contents {
    color: #fff;
}

#colLeft {
	background: url("../img/my-portfolio-main-box-background.jpg") no-repeat scroll center center / cover transparent; 
	position: relative;
}

#colLeft:before {
    content: "";
    background: rgba(0,32,43,0.95);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

#colLeft .contents {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 30px 10px;
}

#colLeft img {
    max-width: 150px;
	border-radius: 100%;
}

#dl-resume-wrapper {
    display: inline-block;
}

#dl-resume-wrapper > * {
    color: #00b5f0;
}

#dl-resume-wrapper > a {
    background: rgba(0,0,0,0.5);
    height: 70px;
    width: 70px;
    float: none;
    display: block;
    margin: 10px auto;
    border-radius: 100%;
	transition: 0.3s;
}

#dl-resume-wrapper > a:hover {
    color: #fff;
}

#dl-resume-wrapper .fa {
    font-size: 2em;
    line-height: 70px;
}

#aboutBox {
	background: url("../img/my-portfolio-about-box-background.jpg") no-repeat scroll center center / cover transparent;	
}

#worksBox {
	background: url("../img/my-portfolio-my-works-box-background.jpg") no-repeat scroll center center / cover transparent;	
}

#educationBox {
	background: url("../img/my-portfolio-education-box-background.jpg") no-repeat scroll center center / cover transparent;	
}

#skillsBox {
	background: url("../img/my-portfolio-my-skills-box-background.jpg") no-repeat scroll center center / cover transparent;	
}

#colMid > div, #colRight > div {
    position: relative;
    padding: 40px;
}

#colMid .fa, 
#colRight .fa {
    font-size: 4em;
}

.boxContentWrapper {
	overflow: hidden;
}

.boxContentWrapper:before {
	content: "";
	background-color: rgba(0,18,25,0.75);
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 102%;
	height: 100%;
	transform: translatex(-50%);
	transition: 0.8s;
}

.boxContentWrapper .boxContent {
    position: relative;
    display: inline-block;
    padding: 20px;
	color: #00374b;
    background-color: rgba(255,255,255,0.75);
    border-radius: 20px;
	max-width: 270px;
}

#rowBanner h3 {
    line-height: 1.2em;
    margin-top: 10px;
}

#rowBanner .text {
    margin: 15px auto;
}

.boxContentWrapper:hover {
	cursor: pointer;
}

.boxContentWrapper:hover .boxContent {
	color: #00374b;
	transition: 1s;
    background-color: rgba(255,255,255,0.75);
	border-radius: 20px;
}

/***rows***/
.rowContent {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
	text-align: center;
}

.rowContent .colWrapper {
    padding: 20px;
    background-color: #fff;
}

.colHeading, 
.colContent {
    padding: 10px 0;
}

.socialMedias h3,
#rowSkills h3,
#rowEducation h3 {
	color: #00374b;
}

figure img {
	width: 100%;
}

.colHeading h2 {
	color: #fff;
	display: inline-block;
}

#rowAbout .col2 {
	background: url("../img/about-me-picture.jpg") no-repeat scroll center center / cover transparent;	
	min-height: 300px;
}

.abt-fig1 {
    margin-top: 30px;
}

.contactDetails {
    background-color: #00374b;
    padding: 20px;
}

.contactDetails h3 {
    color: #85e1ff;
}

.contactDetails h4,
.contactDetails p,
.contactDetails a {
    color: #fff;
}

.contactDetails a:hover {
    text-decoration: none;
}

.socialMedias {
    margin-top: 20px;
}

.socialMedias img {
    width: 50px;
	margin: 15px 5px 0 0;
}

/*form*/
form {
    border: 1px solid #fff;
    padding: 20px;
    margin-top: 20px;
}

label {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

form button {
    padding: 10px;
    width: 100%;
    background-color: #3490cb;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #00374b;
    color: #fff;
}

/*rowWorks*/
#projects {
    text-align: center;
}

.colProjects a {
    text-align: center;
    margin: 20px auto;
    display: inline-block;
	max-width: 250px;
	vertical-align: top;	
}

.colProjects figcaption {
    padding: 10px;
    color: #fff;
    background: #00374b;
    margin-bottom: 5px;
}

.colProjects .img-wrapper {
    overflow: hidden;
}

#rowWorks h3 {
	color: #00374b;
}

.colSampleWorks ul {
    text-align: center;
    background-color: #efefef;
}

.colSampleWorks ul:first-of-type {
    padding-top: 20px;
    margin-top: 20px;
}

.colSampleWorks ul:last-of-type {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.colSampleWorks .d-none {
	display: none;
}

.colSampleWorks li {
    list-style: none;
    max-width: 200px;
    display: inline-block;
    margin: 15px;
    border: 5px solid #ddd;
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
    vertical-align: top;
}

.colSampleWorks li:hover {
    transform: scale(1.15);
    transition: transform 0.2s linear;
}

.colSampleWorks figure {
    height: 220px;
    overflow: hidden;
}

.colSampleWorks figcaption {
    margin-top: 10px;
	padding: 10px;
    color: #fff;
    background: #00374b;
}

.colSampleWorks a {
	text-decoration: none;
}

#works-button {
    text-align: center;
    margin-top: 20px;
}

#view-more {
    background: #3490cb;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
	cursor: pointer;
}

#view-more:hover {
	background: #00374b;
}

/* popup */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popuptext {
    visibility: visible;
    width: 90%;
    background-color: rgba(0,55,75,.85);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px;
    position: relative;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin-top: 20px;
}

.popuptext::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0,55,75,.85) transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/***rowSkills***/
#rowSkills img {
    margin-top: 10px;
    max-width: 80px;    
    max-height: 100px;   
	opacity: 0;
}

#rowSkills .colContent ul {
    padding: 10px 20px;
    text-align: left;
}

#rowSkills li {
    padding: 10px;
	opacity: 0;
}

/***rowEducation***/
.educInfo,
.employInfo,
.trainingInfo {
    margin-top: 25px;
    background: #efefef;
    padding: 25px;
    border-radius: 10px;
}

/***footer***/
#footer {
    color: #fff;
    text-align: center;
    padding: 20px;
}

/***backTotop***/
#backToTop {
    display: none; 
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    z-index: 999; 
    border: none; 
    outline: none;
    background-color: #3490cb;
    color: white; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px; 
}

#backToTop:hover {
    background-color: #00374b; 
}

/* mobile or small-sized devices */
@media only screen and (max-width: 600px) {

	/***GRID sizes***/
	.col-sm-1 {
		width: 8.33%;
	}

	.col-sm-2 {
		width: 16.66%; 
	}

	.col-sm-3 {
		width: 25%; 
	}

	.col-sm-4 {
		width: 33.33%; 
	}

	.col-sm-5 {
		width: 41.66%; 
	}

	.col-sm-6 {
		width: 50%; 
	}

	.col-sm-7 {
		width: 58.33%; 
	}

	.col-sm-8 {
		width: 66.66%; 
	}

	.col-sm-9 {
		width: 75%; 
	}

	.col-sm-10 {
		width: 83.33%; 
	}

	.col-sm-11 {
		width: 91.66%; 
	}

	.col-sm-12 {
		width: 100%; 
	}
	
} 

/* tablet or medium-sized devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
	/***rowBanner***/
	#colLeft {
		padding: 100px;
	}
	
	/***rows***/
	.rowContent {
		text-align: left;
	}
	
	.colHeading, 
	.colContent {
		padding: 10px;
	}
	
	/***rowAbout***/
	.about-content {
		display: flex;
	}
	
	.about-content .colContent {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.socialMedias {    
		text-align: center;
	}
	
	/***rowWorks***/	
	.colProjects a {
		margin-left: 20px;
		margin-right: 20px;
		max-width: 50%;
	}

	/***GRID sizes***/
	.col-md-1 {
		width: 8.33%;
	}

	.col-md-2 {
		width: 16.66%; 
	}

	.col-md-3 {
		width: 25%; 
	}

	.col-md-4 {
		width: 33.33%; 
	}

	.col-md-5 {
		width: 41.66%; 
	}

	.col-md-6 {
		width: 50%; 
	}

	.col-md-7 {
		width: 58.33%; 
	}

	.col-md-8 {
		width: 66.66%; 
	}

	.col-md-9 {
		width: 75%; 
	}

	.col-md-10 {
		width: 83.33%; 
	}

	.col-md-11 {
		width: 91.66%; 
	}

	.col-md-12 {
		width: 100%; 
	}
} 

/* desktop or large-sized devices */
@media only screen and (min-width: 1025px) {
	/***mainNav***/
	#mainNav {
		width: 100%;
		top: -65px;
	}
	
	.nav-button,
	#contact-icons {
		display: none;
	}
	
	#nav-items {
		text-align: right;
		padding: 0;
	}
	
	#nav-links {
		padding: 20px;
	}
	
	#mainNav li {
		display: inline;
		margin-right: 20px;
		padding: 0;
	}
	
	#contactDetails, 
	#socialIcons {
		display: inline-block;
		vertical-align: middle;
	}
	
	#contactDetails {
		padding: 20px;
		color: #fff;
	}
	
	#contactDetails span {
		margin-left: 15px;
	}
	
	#socialIcons {
		padding-right: 20px;
	}
	
	/***rowBanner***/
	#rowBanner {
		height: 100vh;
	}
	
	#rowBanner .colWrapper,
	#rowBanner .col {
		height: 100%;
	}
	
	#colLeft .contents {
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
		width: 70%;
	}
	
	#colLeft img {
		max-width: 250px;
	}
	
	#colMid > div,
	#colRight > div {
		height: 50%;
		position: relative;
		padding: 20px 10px;
	}
	
	.boxContentWrapper .boxContent {
		top: 50%;
		transform: translateY(-50%);
		color: #85e1ff;
		max-width: 80%;
		padding: 30px 20px;
		background-color: transparent;
	}
	
	.description {
		display: none;
	}

	.boxContentWrapper:hover .description {
		display: block;
		margin-top: 15px;
	}
	
	.boxContentWrapper:hover:before  {
		width: 0;
		transition: 0.8s;
	}
	
	/***rows***/
	.rowContent {
		width: 95%;
		padding-top: 56px;
		text-align: left;
	}
	
	.rowContent .colWrapper {
		padding: 40px;
	}
	
	.colHeading,
	.colContent {
		padding: 20px;
	}
	
	/***rowAbout***/
	#rowAbout .colWrapper {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	#rowAbout .col2 {
		min-height: 100%;
	}	
	
	#rowAbout .colWrapper, 
	.about-content {
		display: flex;
	}
	
	#rowAbout .colContent {
		padding: 0 20px;
	}	
	
	#rowAbout .about-content {
		padding-right: 0;
	}
	
	/***rowSkills***/
	#rowSkills img {
		max-width: 100%;
		margin: 15px;
	}
	
	.extra-skills {
		background-color: #efefef;
		border-radius: 15px;
		box-shadow: 2px 3px 5px rgba(0,0,0,0.15);
	}
	
	/***rowWorks***/	
	.colProjects a {
		margin: 20px 30px;
	}	

	/* popup */
	.popuptext {
		visibility: hidden;
		position: absolute;
		bottom: 20px;
		top: auto;
		margin-top: 0;
		display: inline;
	}

	.popuptext::after {
		top: 100%;
		border-color: rgba(0,55,75,.85) transparent transparent transparent;
	}
	
	/***GRID sizes***/
	.col-lg-1 {
		width: 8.33%; 
	}

	.col-lg-2 {
		width: 16.66%; 
	}

	.col-lg-3 {
		width: 25%; 
	}

	.col-lg-4 {
		width: 33.33%; 
	}

	.col-lg-5 {
		width: 41.66%; 
	}

	.col-lg-6 {
		width: 50%; 
	}

	.col-lg-7 {
		width: 58.33%; 
	}

	.col-lg-8 {
		width: 66.66%; 
	}

	.col-lg-9 {
		width: 75%; 
	}

	.col-lg-10 {
		width: 83.33%; 
	}

	.col-lg-11 {
		width: 91.66%; 
	}

	.col-lg-12 {
		width: 100%; 
	}
}