* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-wrap: break-word;
}

body {
	background: url("../img/my-portfolio-main-background.jpg") no-repeat fixed center center / cover transparent;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear:after {
	display: block;
	content: "";
	clear: both;
}

/***fonts***/

h1, h2, h3, h4 {
	font-family: 'Bungee', cursive;
	line-height: 1.2em;
}

h4 {
	margin-top: 20px;
}

p, a, span {
	font-family: 'Lato', sans-serif;
}

/***wrappers***/
.mainWrapper {
	width: 100%;
	margin: 0 auto;
}

/***header***/
#contactDetails,
#socialIcons {
	text-align: right;
}

#navItems, 
#contactDetails {
    padding: 5px;
    color: #fff;
}

#socialIcons img {
    width: 30px;
    margin-left: 4px;
}

/***navigation***/
#mainNav {
	padding: 10px 40px;
}

#mainNav li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

#mainNav li:hover {
	cursor: pointer;
}

/***rowBanner***/
#rowBanner {
	height: 95vh;
	text-align: center;
}

#rowBanner .colWrapper {
	height: 50%;
}
	
#rowBanner .col {
	height: 100%;
}

#rowBanner h1 {
    color: #85e1ff;
	margin-top: 20px;
}

#rowBanner .contents {
    color: #fff;
}

#colLeft {
	background: url("../img/my-portfolio-main-box-background.jpg") no-repeat scroll center center / cover transparent; 
	position: relative;
}

#colLeft:before {
    content: "";
    background: rgba(0,0,0,0.60);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

#colLeft .contents {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 70%;
}

#colLeft img {
    max-width: 250px;
}

#colLeft a {
	color: #00b5f0;
	font-weight: 600;
	margin-top: 10px;
}


#aboutBox {
	background: url("../img/my-portfolio-about-box-background.jpg") no-repeat scroll center center / cover transparent;	
}

#worksBox {
	background: url("../img/my-portfolio-my-works-box-background.jpg") no-repeat scroll center center / cover transparent;	
}

#educationBox {
	background: url("../img/my-portfolio-education-box-background.jpg") no-repeat scroll center center / cover transparent;	
}

#skillsBox {
	background: url("../img/my-portfolio-my-skills-box-background.jpg") no-repeat scroll center center / cover transparent;	
}

#colMid > div,
#colRight > div {
	height: 50%;
	position: relative;
}

.boxContentWrapper .boxContent {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    display: inline-block;
    color: #85e1ff;
    max-width: 80%;
    padding: 30px 20px;
}

#rowBanner h3 {
    line-height: 1.2em;
    margin-top: 10px;
}

.description {
	display: none;
}

.boxContentWrapper:hover {
	cursor: pointer;
}

.boxContentWrapper:before {
    content: "";
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 100%;
    height: 100%;
    transform: translatex(-50%);
    transition: 0.8s;
}

.boxContentWrapper:hover .boxContent {
	color: #00374b;
	transition: 1s;
    background-color: rgba(255,255,255,0.75);
	border-radius: 20px;
}

.boxContentWrapper:hover:before  {
	width: 0;
	transition: 0.8s;
}

.boxContentWrapper:hover .description {
	display: block;
	margin-top: 15px;
}

#rowBanner .fa {
    font-size: 4em;
}

/***rows***/
.rowContent {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}

.rowContent .colWrapper {
	padding: 40px;
	background-color: #fff;
	min-height: 90vh;
}

.colHeading,
.colContent {
    padding: 20px;
}

.colHeading h2,
.socialMedias h3,
#rowSkills h3,
#rowEducation h3 {
	color: #00374b;
}

.colContent ul {
    padding: 10px 20px;
}

/*rowAbout*/
.contactDetails {
    background-color: #00374b;
    padding: 20px;
}

.contactDetails h3 {
    color: #85e1ff;
}

.contactDetails h4,
.contactDetails p,
.contactDetails a {
    color: #fff;
}

.socialMedias {
    margin-top: 20px;
}

.socialMedias img {
    width: 50px;
	margin: 15px 5px 0 0;
}

.colImage img {
    width: 100%;
}

.colImage img + img {
	margin-top: 20px;
}

/*rowWorks*/
.colProjects a {
    max-width: 200px;
    text-align: center;
    margin: 20px 35px 0 0;
    display: inline-block;
}

.colProjects img {
    max-width: 200px;
}

.colProjects p {
    margin-top: 10px;
}

#rowWorks h3 {
	color: #00374b;
}

/***rowSkills***/
.frameworks, 
.others {
    margin-top: 50px;
}

#rowSkills img {
    margin-top: 10px;
}

/***rowEducation***/
.educInfo,
.employInfo {
    margin-top: 25px;
}

/***footer***/
#footer {
	height: 50px;
}

/***backTotop***/
#backTotop {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
}

/* mobile or small-sized devices */
@media only screen and (max-width: 400px) {

	/***GRID sizes***/
	.col-sm-1 {
		width: 8.33%;
	}

	.col-sm-2 {
		width: 16.66%; 
	}

	.col-sm-3 {
		width: 25%; 
	}

	.col-sm-4 {
		width: 33.33%; 
	}

	.col-sm-5 {
		width: 41.66%; 
	}

	.col-sm-6 {
		width: 50%; 
	}

	.col-sm-7 {
		width: 58.33%; 
	}

	.col-sm-8 {
		width: 66.66%; 
	}

	.col-sm-9 {
		width: 75%; 
	}

	.col-sm-10 {
		width: 83.33%; 
	}

	.col-sm-11 {
		width: 91.66%; 
	}

	.col-sm-12 {
		width: 100%; 
	}
	
} 

/* tablet or medium-sized devices */
@media only screen and (min-width: 401px) and (max-width: 960px) {

	/***GRID sizes***/
	.col-md-1 {
		width: 8.33%;
	}

	.col-md-2 {
		width: 16.66%; 
	}

	.col-md-3 {
		width: 25%; 
	}

	.col-md-4 {
		width: 33.33%; 
	}

	.col-md-5 {
		width: 41.66%; 
	}

	.col-md-6 {
		width: 50%; 
	}

	.col-md-7 {
		width: 58.33%; 
	}

	.col-md-8 {
		width: 66.66%; 
	}

	.col-md-9 {
		width: 75%; 
	}

	.col-md-10 {
		width: 83.33%; 
	}

	.col-md-11 {
		width: 91.66%; 
	}

	.col-md-12 {
		width: 100%; 
	}
} 

/* desktop or large-sized devices */
@media only screen and (min-width: 961px) {
	/***header***/
	#header {
		height: 5vh;
	}
	
	/***mainNav***/
	#mainNav {
		position: fixed;
		width: 100%;
		transform: translate(-50%,0);
		left: 50%;
		z-index: 999;
	}
	
	/***rowBanner***/
	#rowBanner .colWrapper,
	#rowBanner .col {
		height: 100%;
	}
	
	
	/***GRID sizes***/
	.col-lg-1 {
		width: 8.33%; 
	}

	.col-lg-2 {
		width: 16.66%; 
	}

	.col-lg-3 {
		width: 25%; 
	}

	.col-lg-4 {
		width: 33.33%; 
	}

	.col-lg-5 {
		width: 41.66%; 
	}

	.col-lg-6 {
		width: 50%; 
	}

	.col-lg-7 {
		width: 58.33%; 
	}

	.col-lg-8 {
		width: 66.66%; 
	}

	.col-lg-9 {
		width: 75%; 
	}

	.col-lg-10 {
		width: 83.33%; 
	}

	.col-lg-11 {
		width: 91.66%; 
	}

	.col-lg-12 {
		width: 100%; 
	}
}